<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="input_file" value=""/>
    <add key="output_folder" value=""/>
           
    <add key="AllowEdit" value="False"/>
    <add key="AllowCopy" value="False"/>
    <add key="AllowFillIn" value="False"/>
    <add key="AllowAssembly" value="False"/>
    <add key="AllowAnnotations" value="False"/>

    <add key="Encryption_AES256" value="True"/>
  </appSettings>
</configuration>