[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
*.swp
[Tt]humbs.db 
_ReSharper*
*.pdb
*.scc
*.vspscc
*.vssscc
*.vsscc
*.swn
*.swo
Debug/
Release/
TestResults/
Temp_TestRun/
*.testrunconfig
_UpgradeReport_Files/
Backup*/
*.vsmdi
UpgradeLog*.XML
UpgradeLog*.htm
*.crunchproject.local.xml
*.orig
*.dbmdl
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution
*.dbproj.schemaview
*.dbmdl
*.mrx
Nuget/
NugetFeed/
Packages/
TestResult.xml
_NCrunch*
.gitattributes
~$*.xlsx
UpgradeLog.htm
/tools
.vs/
paket.exe
.paket/paket.exe
*.rdl.data
.fake/
BuildTemp/
.build/temp/
.bldtmp/
.temp/
*.exe
*.dll
*.bin
*.nupkg
*.zip
*.7z
*.vsd
*.vsdx
*.doc
*.docx
Received*.xml
/paket-files
.axoCover